marquee{
    width: 100%;
    height: 40%;
    /* background-color: black; */
    background-color: gold;
    line-height: 30px;
    position: static;
}

.marquee-text{
    /* color: goldenrod; */
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    /* animation: blinker 5.5s linear infinite; */
    animation: none;
    font-family: sans-serif;
}
        
@keyframes blinker {
    50% {
    opacity: 0;
    }
}

/* marquee1{
    width: 100%;
    height: 40%; */
    /* background-color: black; */
    /* background-color: gold;
    line-height: 30px;
} */