/* Your custom font go here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* Basic styles from tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.nav-link {
		@apply relative font-semibold text-white cursor-pointer text-[20px] md:text-[18px] sm:text-[17px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center hidden;
	}
	/* For Mobile or SmartPhone */
	.nav-link-mobile {
		@apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[22px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
	}
	/* Social Link Icons */
	.social-linkIcon-mobile{
		@apply md:items-center md:justify-center;
	}
	/* Error component styles */
}